version: "3"

services:
  server:
    container_name: server
    restart: always
    build:
      context: server
      dockerfile: Dockerfile
    links:
      - op_db
    environment:
      ENV_NAME: dev
      DATABASE_URL: "postgres://op_admin:B@b@082020Yaga!@op_db:5432/open_project"
    ports:
      - 4001:4001
    volumes:
      - .:/app/
      - /app/node_modules
      # - "./app:/server/src/app"
      # - "/server/src/app/node_modules"
  op_db:
    container_name: op_db
    image: postgres
    restart: always
    # volumes:
    #   - database:/var/lib/postgresql/data
    environment:
      POSTGRES_USER: "op_admin"
      POSTGRES_PASSWORD: "B@b@082020Yaga!"
      POSTGRES_DB: "open_project"
    # expose:
    #   - 5432
    ports:
      - "5432:5432"
